<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.detecthos.mapper.ResultMapper">
<!--    <resultMap id="ResultMap" type="com.rongxin.detecthos.pojo.vo.UserResult" >-->
<!--        <result column="card" property="card" jdbcType="VARCHAR" />-->
<!--        <result column="name" property="name" jdbcType="VARCHAR" />-->
<!--        <result column="sex" property="sex" jdbcType="BOOLEAN" />-->
<!--        <result column="email" property="email" jdbcType="VARCHAR" />-->
<!--        <result column="address" property="address" jdbcType="VARCHAR" />-->
<!--        <result column="id" property="id" jdbcType="INTEGER"/>-->
<!--        <result column="medicineCode" property="medicineCode" jdbcType="VARCHAR" />-->
<!--        <result column="userId" property="userId" jdbcType="VARCHAR" />-->
<!--        <result column="resultstate" property="resultstate" jdbcType="VARCHAR" />-->
<!--        <result column="createTime" property="createTime" jdbcType="BOOLEAN" />-->
<!--        <result column="resultTime" property="resultTime" jdbcType="VARCHAR" />-->
<!--        <result column="isDelete" property="isDelete" jdbcType="BOOLEAN" />-->
<!--    </resultMap>-->
<!--    <select id="getUserResult" resultType="com.rongxin.detecthos.pojo.vo.UserResult">-->
<!--        select card,name,sex,email,address,result.id,medicineCode,userId,resultstate,result.createTime,resultTime,isDelete from users-->
<!--        inner join result on users.id=result.userId where resultTime is null and isDelete=1-->
<!--        <if test="keyword != null and keyword != ''">-->
<!--            and name like "%"#{keyword}"%"-->
<!--        </if>-->
<!--        order by createTime desc-->
<!--    </select>-->
<!--    <select id="getUserResultByCard" resultType="com.rongxin.detecthos.pojo.vo.UserResult">-->
<!--        select card,name,sex,email,address,result.id,medicineCode,userId,resultstate,result.createTime,resultTime,isDelete from users-->
<!--        inner join result on users.id=result.userId where resultTime is null-->
<!--        <if test="card != null and card != ''">-->
<!--            and card like "%"#{card}"%"-->
<!--        </if>-->
<!--        order by createTime desc-->
<!--    </select>-->
<!--    <select id="getUserResultBySex" resultType="com.rongxin.detecthos.pojo.vo.UserResult">-->
<!--        select card,name,sex,email,address,result.id,medicineCode,userId,resultstate,result.createTime,resultTime,isDelete from users-->
<!--        inner join result on users.id=result.userId where resultTime is null-->
<!--        <if test="sex != null and sex != ''">-->
<!--            and sex=#{sex}-->
<!--        </if>-->
<!--        order by createTime desc-->
<!--    </select>-->

    <select id="getResultByPage" resultType="com.rongxin.detecthos.pojo.vo.UserResult">
         select DISTINCT medicineCode,createTime,count(medicineCode) as count from result where
            resultstate is null and isDelete=1 group by medicineCode,createTime
    </select>
    <select id="getResultByCode" resultType="com.rongxin.detecthos.pojo.Result">
        select * from result where medicineCode=#{medicineCode}
    </select>

</mapper>
