<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.detectacl.mapper.PreRoleMapper">
    <update id="updateDelete" >
        update pre_role set isdeleted=0 where id=#{id}
    </update>
    <select id="selectAll" resultType="com.rongxin.detectacl.entity.PreRole">
        select * from pre_role
    </select>
    <update id="updateByPId" parameterType="com.rongxin.detectacl.entity.PreRole">
        update pre_role set isdeleted=#{isDeleted} where id=#{preId}
    </update>
</mapper>
