<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.detectacl.mapper.UsersMapper">
    <select id="selectByCondition" resultType="com.rongxin.detectacl.entity.Users">
        select * from users where isdeleted=1
        <if test="condition != null">
        and name like concat("%",#{condition},"%") or card like concat("%",#{condition},"%")
        </if>
        limit #{pageNum},8
    </select>
    <select id="selectCountPage" resultType="int">
        select count(1) from users where isdeleted=1
        <if test="condition != null">
        and name like concat("%",#{condition},"%") or card like concat("%",#{condition},"%")
        </if>
    </select>
    <select id="selectUser" resultType="com.rongxin.detectacl.entity.Users">
        select * from users where card=#{card}
    </select>
    <select id="getUserByCard" resultType="com.rongxin.detectacl.entity.Users">
        select * from users where card=#{card}
    </select>
    <select id="selectRoleCode" resultType="java.lang.String">
        select roles.roleCode from
            roles join role_user on roles.id=role_user.roleId
                  join users on role_user.userId=users.id
        where role_user.isDelete=1 and users.card=#{card}
    </select>
</mapper>
